page-home {

}
.spinner_big{
    width: 75px;
    height: 75px;
}
.navtab{
border-left: 1px solid black;
border-right: 1px solid black;
cursor: pointer;
}
.selected_tab {
    color: map-get($colors, primary);
}
.color_normal{
    color: black !important;
}
