<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'news'|translation}}
    </ion-title>
    <ion-buttons *ngIf="userprovider.user && userprovider.user.full_record.admin_flag && userprovider.user.full_record.admin_flag==1" end>
        <button (click)="navCtrl.push('OrderViewPage')"  ion-button icon-only>
            <ion-icon name='list'></ion-icon>
            <ion-badge *ngIf="cartprovider.new_orders">
                {{cartprovider.new_orders}}
              </ion-badge>
          </button>
      <button (click)="openAdmin()" ion-button icon-only>
      <ion-icon name='settings'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let c of menuprovider.validposts">
  <img *ngIf="c.full_record.image_url" src="{{c.full_record.image_url}}"/>
  <ion-card-content>
    <ion-card-title>{{c.full_record.title}}
      </ion-card-title>
    <p>
    {{c.full_record.description}}
    </p>
  </ion-card-content>
  <ion-row no-padding>
      <ion-col>
        <button [ngClass]="{'color_normal':(!c.full_record.likes || c.full_record.likes.indexOf(userprovider.emailaddress)==-1) }" ion-button clear small (click)="c.like(userprovider.user)"  icon-start>
          
          <ion-icon name='thumbs-up'></ion-icon>
          Like &nbsp;
          <ion-badge  *ngIf="c.full_record.likes" item-end>{{c.full_record.likes.length}}</ion-badge>
        </button>
      </ion-col>
      <ion-col *ngIf="c.full_record.item_id" text-right>
        <button ion-button clear small color="secondary" icon-start (click)="show_item_to_order(c.full_record.item_id,c.full_record.price_sale,c.full_record.item_label)">
          <ion-icon name='share-alt'></ion-icon>
          {{'order'|translation}}
        </button>
      </ion-col>
    </ion-row>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
    <ion-row>
      <ion-col class="selected_tab navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='paper'></ion-icon>
        {{'news'|translation}}
      </ion-col>
      <ion-col (click)="navCtrl.setRoot('MenuPage')"  class=" navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='menu'></ion-icon>
        {{'menu'|translation}}
      </ion-col>
      <ion-col (click)="navCtrl.setRoot('MyOrdersPage')"  class=" navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='pizza'></ion-icon>
        {{'my_orders'|translation}}
        <ion-badge *ngIf="cartprovider.my_new_orders">
          {{cartprovider.my_new_orders}}
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>