// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-ios{
  background-color:#000000; 
}
.toolbar-background-md {
    border-color: #EE9015;
    background-color: #000000;
    color: #ffffff;
  }
  .icon-yellow{
    color: #EE9015;
  }

  .bar-button{
    color: #ffffff;
  }
  .bar-buttons{
    color: #ffffff;
  }
  .toolbar-title{
    color: #ffffff;
  }
  .navtab{
    color: #ffffff;
  }
  .backg_black{
    background-color: #000000;
    color: #ffffff;
  }
  .backg_black >.item-inner{
    border-bottom: 1px solid #000000 !important;
  }
