<ion-menu id="sidenav" [content]="content">
    <ion-header>
  <ion-toolbar>
      <ion-item class="backg_black" *ngIf="userprovider && userprovider.user">
          <ion-avatar *ngIf="userprovider.user.full_record.image_url" item-start>
            <img src="{{userprovider.user.full_record.image_url}}">
          </ion-avatar>
          <h2>{{userprovider.user.full_record.name}} {{userprovider.user.full_record.lastname}}</h2>
          <h3>{{userprovider.user.emailaddress}}</h3>
          <ion-icon item-end class="icon-yellow" (click)="showmodalprofile()" name='switch'></ion-icon>
        </ion-item>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

        <button menuClose *ngIf="userprovider && userprovider.user && userprovider.user.full_record.admin_flag == 1" ion-item  (click)="nav.push('ApproveUsersPage')">
            {{ 'approve_users' | translation }}
            <ion-icon class="icon-yellow" item-end name='person-add'></ion-icon>
            <ion-badge *ngIf="userprovider && userprovider.newusers && userprovider.newusers.length">
                {{userprovider.newusers.length}}
            </ion-badge>
        </button>

      <button menuClose *ngIf="userprovider && userprovider.user && userprovider.user.full_record.admin_flag == 1" ion-item  (click)="nav.push('GeneralSettingsPage')">
          {{ 'general_settings' | translation }}
          <ion-icon class="icon-yellow" item-end name='settings'></ion-icon>
      </button>
      <button menuClose *ngIf="userprovider && userprovider.user && userprovider.user.full_record.admin_flag == 1" ion-item  (click)="nav.push('SaleReportPage')">
            {{ 'sale_report' | translation }}
            <ion-icon class="icon-yellow" item-end name='settings'></ion-icon>
        </button>
      <button menuClose ion-item  (click)="openPage('HomePage')">
        {{'home' | translation}}
        <ion-icon item-end class="icon-yellow" name='home'></ion-icon>
      </button>
      <button menuClose  ion-item  (click)="nav.push('AboutUsPage')">
          {{ 'about_us' | translation }}
          <ion-icon class="icon-yellow" item-end name='information-circle'></ion-icon>
      </button>
      <button menuClose  ion-item  (click)="nav.push('ContactUsPage')">
          {{ 'contact_us' | translation }}
          <ion-icon class="icon-yellow" item-end name='call'></ion-icon>
      </button>
      <button menuClose ion-item (click)="logout()">
          <ion-icon class="icon-yellow" item-end name='exit'></ion-icon>
          {{ 'log_out' | translation }}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
      <ion-item >
          <ion-label>
              {{'language' | translation }}
            </ion-label>
          <ion-select name="language_user" [(ngModel)]="userprovider.language" >
            <ion-option value="{{c.id}}"  *ngFor="let c of languages" selected="{{userprovider.language==c.id}}">{{c.name | translation }}</ion-option>
          </ion-select>
        </ion-item>
  </ion-footer>
</ion-menu>
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
