<ion-header>

  <ion-navbar>
    <ion-title>Admin your Menus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
     <ion-item-sliding *ngFor="let c of menuprovider.menus"  >
      <ion-item>
        <ion-avatar *ngIf="c.full_record.images && c.full_record.images[0]" item-start>
          <img *ngIf="c.full_record.images[0]" src="{{c.full_record.images[0]}}">
        </ion-avatar>
        <h2>{{c.name}}</h2>
      </ion-item>
      <ion-item-options>
        
        <button ion-button color="primary" icon-start (click)="edititem(c)">
          <ion-icon name="build"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" icon-start (click)="deleteitem(c)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button (click)="edititem(0,1)" ion-fab color="secondary" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>