page-sale-report {
    .myCustomSelect{
        max-width: 100% !important;
      }
      .pmargintop{
          margin-top: 10px;
      }
      .row_total{
          border-top-color: black !important;
          border-top-style: solid !important;
      }
      .boldfont{
          font-weight: bold !important
      }
}
