<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>
        {{'orders'|translation}}
      </ion-title>
      <ion-buttons *ngIf="userprovider.user && userprovider.user.full_record.admin_flag && userprovider.user.full_record.admin_flag==1" end>
        
        <button (click)="openAdmin()" ion-button icon-only>
        <ion-icon name='settings'></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content  padding>
        <ion-fab right bottom>
                <button (click)="refresh_orders()" ion-fab color="azul" ><ion-icon name="refresh"></ion-icon></button>
                </ion-fab>
      <ion-card *ngFor="let c of cartprovider.orders">

        <ion-card-content>
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <button type="button" (click)="toggleSection(c.id)"  ion-item  detail-none>
                    <!--<ion-badge item-right *ngIf="c.full_record.stage == 1" color="secondary">New</ion-badge>
                    <ion-badge item-right *ngIf="c.full_record.stage == 2" color="secondary">Started</ion-badge>
                    <ion-badge item-right *ngIf="c.full_record.stage == 3" color="secondary">Ready to Pickup</ion-badge>-->
                    <ion-badge item-right *ngIf="c.full_record.stage == 4" color="secondary">Completed</ion-badge>
            <ion-badge color="secondary" item-right *ngIf="c.total">
                Q {{c.total}}
              </ion-badge>
                       {{'total'|translation}}
                  </button>
              </ion-col>
              <ion-col (click)="showinfo(c)" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                  {{'ordered_by'|translation}} : {{c.full_record.personname}}&nbsp; {{c.full_record.personlastname}}<button color="azul" ion-button small> <ion-icon ico item-right name="information-circle" ></ion-icon></button>
              </ion-col>

        </ion-row>
        <ion-row >
            <ion-col  *ngFor="let y of c.full_record.title;let i = index;" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <p><ion-badge item-right color="azul" *ngIf="c.full_record.quantity">
                    {{c.full_record.quantity}}
                  </ion-badge> &nbsp;{{y}}</p>
  
                  <ion-badge color="danger" *ngFor="let z of c.full_record.no[i]">
                    {{z}}&nbsp;
                  </ion-badge>
                  <ion-badge color="warning" *ngFor="let w of c.full_record.extra[i]">
                      {{w}}&nbsp;
                    </ion-badge>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="c.full_record.comment_order" >
            <ion-col  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <p> {{c.full_record.comment_order}}</p>
  
            </ion-col>
        </ion-row>
  
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
              {{'created_on'|translation}}:<br> {{c.create_label}} <br>
              
              </ion-col>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                  <button ion-button (click)="advance(c)"  *ngIf="c.full_record.stage == 1" class="submit-btn" full >{{'start'|translation}}</button>
                  <button ion-button (click)="advance(c)"  *ngIf="c.full_record.stage == 2" class="submit-btn" full >{{'ready_to_pickup'|translation}}</button>
                  <button ion-button (click)="advance(c)"  *ngIf="c.full_record.stage == 3" class="submit-btn" full >{{'complete'|translation}}</button>
                  <button ion-button  *ngIf="c.full_record.stage == 5" color="danger" class="submit-btn" full >{{'canceled'|translation}}</button>
                  </ion-col>
        </ion-row>
        </ion-card-content>
       </ion-card>
  </ion-content>
