<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{'our_menu'|translation}}
    </ion-title>
    <ion-buttons *ngIf="userprovider.user && userprovider.user.full_record.admin_flag && userprovider.user.full_record.admin_flag==1" end>
        <button (click)="navCtrl.push('OrderViewPage')"  ion-button icon-only>
            <ion-icon name='list'></ion-icon>
            <ion-badge *ngIf="cartprovider.new_orders">
                {{cartprovider.new_orders}}
              </ion-badge>
          </button>
      <button (click)="openAdmin()" ion-button icon-only>
      <ion-icon name='settings'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page" padding>
    <ion-fab right bottom>
        <button (click)="see_top()" ion-fab color="yellow" ><ion-icon name="star"></ion-icon>TOP</button>
      </ion-fab>
  <ion-card *ngFor="let c of menuprovider.categories" (click)="seecategory(c)">
   <img *ngIf="c.full_record.image_url" src="{{c.full_record.image_url}}"/>
    <div class="card-title">{{c.name}}</div>
    <div class="card-subtitle">{{c.full_record.description}}</div>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
    <ion-row>
      <ion-col (click)="navCtrl.setRoot('HomePage')" class=" navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='paper'></ion-icon>
        {{'news'|translation}}
      </ion-col>
      <ion-col   class=" selected_tab navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='menu'></ion-icon>
        {{'menu'|translation}}
      </ion-col>
      <ion-col (click)="navCtrl.setRoot('MyOrdersPage')"  class=" navtab" text-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
        <ion-icon name='pizza'></ion-icon>
        {{'my_orders'|translation}}
        <ion-badge *ngIf="cartprovider.my_new_orders">
            {{cartprovider.my_new_orders}}
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>